APPLICANT_EMAIL=
APPLICANT_FIRST_NAME=
APPLICANT_LAST_NAME=
APPLICANT_LINKEDIN_URL=
APPLICANT_PHONE=
ASSISTANT_AI__API_KEY=
ASSISTANT_AI__BASE_URL=
ASSISTANT_AI__CONNECT_TIMEOUT_SECONDS=
ASSISTANT_AI__EMBEDDING_MODEL=
ASSISTANT_AI__JSON_MODE=
ASSISTANT_AI__MAX_RETRIES=
ASSISTANT_AI__MODEL=
ASSISTANT_AI__PROVIDER=
ASSISTANT_AI__TEMPERATURE=
ASSISTANT_AI__TIMEOUT_SECONDS=
ASSISTANT_APPLICATION__CANDIDATE_ID=
ASSISTANT_APPLICATION__NAME=
ASSISTANT_BROWSER__BROWSER=
ASSISTANT_BROWSER__DOWNLOAD_DIR=
ASSISTANT_BROWSER__HEADLESS=
ASSISTANT_BROWSER__PAGE_LOAD_TIMEOUT_SECONDS=
ASSISTANT_DATABASE__BUSY_TIMEOUT_SECONDS=
ASSISTANT_DATABASE__ECHO=
ASSISTANT_DATABASE__ENABLE_FOREIGN_KEYS=
ASSISTANT_DATABASE__ENABLE_WAL=
ASSISTANT_DATABASE__PATH=
ASSISTANT_JOB_SEARCH__COMPANY_BLACKLIST=
ASSISTANT_JOB_SEARCH__EASY_APPLY_ONLY=
ASSISTANT_JOB_SEARCH__EXCLUDE_KEYWORDS=
ASSISTANT_JOB_SEARCH__KEYWORDS=
ASSISTANT_JOB_SEARCH__LOCATIONS=
ASSISTANT_JOB_SEARCH__REMOTE_ONLY=
ASSISTANT_JOB_SEARCH__RESULTS_PER_PAGE=
ASSISTANT_JOB_SEARCH__YEARS_OF_EXPERIENCE_MIN=
ASSISTANT_LOGGING__BACKUP_COUNT=
ASSISTANT_LOGGING__FORMAT=
ASSISTANT_LOGGING__LEVEL=
ASSISTANT_LOGGING__LOG_RESUME_BODIES=
ASSISTANT_LOGGING__MAX_BYTES=
ASSISTANT_LOGGING__TO_FILE=
ASSISTANT_SAFETY__ALLOW_BROWSER_NAVIGATION=
ASSISTANT_SAFETY__ALLOW_FILE_UPLOAD=
ASSISTANT_SAFETY__ALLOW_FINAL_SUBMISSION=
ASSISTANT_SAFETY__ALLOW_FORM_FILLING=
ASSISTANT_SAFETY__BLOCK_ON_CAPTCHA=
ASSISTANT_SAFETY__BLOCK_ON_MFA=
ASSISTANT_SAFETY__CONFIRM_BEFORE_EACH_APPLICATION=
ASSISTANT_SAFETY__DRY_RUN=
ASSISTANT_SAFETY__MAX_APPLICATIONS_PER_RUN=
ASSISTANT_SAFETY__RECORD_SCREENSHOTS=
ASSISTANT_SAFETY__REQUIRE_HUMAN_APPROVAL=
ASSISTANT_SAFETY__SAFE_MODE=
DRY_RUN=
LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=